#navbar-header {
  display: none;
}

#buy-items {
  display: none;
}

#buy-items .card-image {
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#buy-items .card-image:hover {
  -webkit-box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.26);
          box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.26);
}

#buy-items .card-image img {
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

#buy-items .card-image img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.sign-in {
  cursor: pointer;
}

.sign-out {
  cursor: pointer;
}

.login-panel {
  z-index: 1;
  width: 100px;
  right: 0;
  top: 0;
  padding: 20px;
  position: absolute;
  list-style: none;
  height: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.login-panel:hover {
  display: block;
  color: #0b5c0b;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.login-panel .width-username {
  cursor: pointer;
  font-size: 14px;
  padding-left: 0;
}

.login-panel .as-guest {
  cursor: pointer;
  font-size: 14px;
}

.nav-item-last {
  position: relative;
}

.nav-item-last::after {
  content: attr(data-id);
  position: absolute;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
  right: -5px;
  top: -5px;
  border-radius: 100%;
  background-color: red;
  color: white;
  font-size: 14px;
}

.nav-item-last .my-cart-list {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1;
  position: absolute;
  right: 0;
  top: 100%;
  padding-left: 0;
  display: none;
  width: 300px;
  height: auto;
  max-height: 800px;
  overflow-y: auto;
}

.nav-item-last .my-cart-list li {
  background-color: #fffefe;
  border: 1px solid rgba(0, 0, 0, 0.096);
  padding: 10px;
  width: 100%;
  list-style: none;
  position: relative;
}

.nav-item-last .my-cart-list li .close-x {
  font-size: 20px;
  position: absolute;
  right: 0;
  top: 0;
  color: red;
  font-weight: 900;
  padding-right: 10px;
  cursor: pointer;
}

.nav-item-last .my-cart-list li a {
  width: 300px;
}

.nav-item-last .my-cart-list li:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.nav-item-last .my-cart-list li img {
  max-width: 70px;
  height: 100%;
  cursor: pointer;
}

.nav-item-last .my-cart-list li .cart-context p {
  padding-left: 20px;
  cursor: pointer;
  font-size: 14px;
  color: #0d2274;
}

.nav-item-last:hover .my-cart-list {
  display: block;
}

.user-login {
  display: none;
  background-color: transparent;
}

.user-login input {
  width: 200px;
}

@media only screen and (max-width: 992px) {
  .cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cards .card {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#basket {
  margin: 80px auto;
}

#basket .basket-list .basket-item {
  border: 1px solid rgba(107, 104, 104, 0.205);
}

#basket .basket-list .basket-item .left-side .item-image {
  width: 70px;
  height: auto;
}

#basket .basket-list .basket-item .left-side .item-image .img-fluid {
  max-width: 100%;
  padding: 5px;
}

#basket .basket-list .basket-item .left-side .item-content p {
  margin: 0;
  padding: 2px;
}

#basket .basket-list .basket-item .item-count button {
  border: 1px solid #6b6868;
  width: 25px;
}

#basket .basket-list .basket-item .item-count .counter {
  width: 50px;
  border: 1px solid #6b6868;
  margin-left: -5px;
  margin-right: -5px;
  text-align: center;
}

#basket .basket-list .basket-item .item-price {
  font-size: large;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#basket .basket-list .basket-item .item-price p {
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=style.css.map */